html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: default;
  border-radius: 10px;
  background-color: #a4a4a4;
}

:active::-webkit-scrollbar-thumb {
  background: #858585;
}

header {
  z-index: 2;
  position: relative;
  height: 4rem;
  padding: 10px 20px;
  border-bottom: 2px solid #8dc63f;
  box-sizing: border-box;
}

h1.title {
  margin: 0 1rem 0 0;
  display: inline-block;
}

.buttons {
  display: inline-block;
}

a {
  text-decoration: none;
}

main {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
}

aside.options-menu {
  padding: 0.5rem;
  width: 11%;
  height: 100%;
  overflow: auto;
  background-color: aliceblue;
  border-right: 2px solid #8dc63f;
}

article.config {
  margin: 0.25rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px black solid;
}

article.config input[type='number'] {
  width: 3rem;
}

.staging {
  display: flex;
  flex: 1;
  min-height: 0;
  padding: 2px;
}

.input,
.output {
  flex: 1;
  min-width: 200px;
  font-size: 1em;
  display: flex;
  height: 100%;
}

.input {
  overflow: auto;
}

.output {
  overflow: hidden;
}

#resultDiv {
  width: 100%;
  height: 100%;
}

.output .code-toolbar {
  width: 100%;
  height: 100%;
}

.output .code-toolbar > pre {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  background: #fff;
  overflow: auto;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  resize: none;
  outline: none;
  line-height: 1.3;
  white-space: pre;
  font-family: 'Consolas', 'Segoe UI', 'Roboto Mono', '微软雅黑', monospace;
  overflow: auto;
}

.error {
  display: none;
  width: 100%;
  padding: 15px;
  border: 4px solid salmon;
  background: rgb(255, 237, 230);
}

.resizer {
  flex: 0 0 6px;
  background-color: #eee;
  cursor: col-resize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAYAAADq8U2pAAAAFklEQVQI12M4c+bMfxBmgDPwgMGqGAAuBkO97tXVLwAAAABJRU5ErkJggg==);
  background-position: 50%;
  background-repeat: no-repeat;
}

.resizer:hover {
  background-color: #e2e8ee;
}

.resizer.dragging {
  background-color: #d9e1ea;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAYAAADq8U2pAAAAFklEQVQI12OQm/D/PwgzwBl4wGBVDACNjjVxrtmP1AAAAABJRU5ErkJggg==)
}

pre,
code {
  white-space: pre;
  font-size: .9rem !important;
}

pre code {
  display: block;
}
